body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*ECE3CE,739072,4F6F52,3A4D39*/
#content{
    width: 100%;
    height: 200vh;
    background-color: #ECE3CE;
}
.main-paralax{
    width: 100%;
    height: 75vh;
}
.strip-paralax{
    width: 100%;
    height: 25vh;
    background-color: #070606;
}